[2020-10-29 12:43] tssm commented on #1096
Sorry, life happened. Thanks for everything!

[2020-10-29 17:40] martskins commented on #994
First of all apologies for the very very late response. I've seen this before but I wasn't as involved in the project as I am now and I didn't have a way (or didn't know how to) test this to confirm, but those things have changed now so happy to pick this up again.

Sadly, I don't think waiting for a `publishDiagnostics` event is gonna cut it, as there might be servers which don't have support for

[2020-10-29 18:59] martskins commented on #984
@YaLTeR #1121 will make this a lot better I presume. It won't stop LCN from calling the vimscript functions but it will stop it from making the calls to the server, so I suppose it should make things a lot better for you.

[2020-10-29 20:07] martskins commented on #984
Actually, just pushed another commit that prevents setting the `autocmd`s for the languages that don't have a serverCommand configured. So that PR should now address this completely. If you are willing to give that a try that would be great.

[2020-10-30 01:02] cannorin commented on #994
I think you can just ignore the result of `textDocument/codeLens`. The problem is that LC-neovim is assuming `textDocument/didOpen` has failed even when the server is just too slow to respond to `textDocument/codeLens`.

[2020-10-30 17:41] martskins commented on #1018
@iddinev @ipkiss42  Opened #1123 which I believe should fix this. If any of you are able to test it out it would be great.

---

As for the difficulty you're having with configuring the servers @iddinev, if you want to open an issue I can give you a hand there, and we can probably update the readme after that to make it clearer.

[2020-10-30 17:57] martskins commented on #994
Oh I see the confusion now. The message you are getting there is because the `codeLens` request fails, but the language start has actually been successful. The fact that we're calling `text_document_did_open` and `text_document_did_change` inside `server_start` makes that message a little misleading, as one of those two may have failed and we show that the server hasn't started correctly. Which I

[2020-10-30 18:12] martskins commented on #994
@cannorin #1124 should fix that warning message.

[2020-10-31 10:26] martskins opened #1125 "Signs are not updating properly"
I just noticed that signs are not always properly updated. The logic we're using to calculate the diff is incorrect in that it compares the previous signs with the new ones, but the previous signs were applied to an older version of the buffer, so there are cases were that diff is invalid.

It's hard to put in words, but essentially the line numbers of the signs don't match when comparing differen

[2020-10-31 11:47] iddinev commented on #1018
@martskins I'll first replicate my config on neovim, because I am still not sure whether the problems I'm having are because of: LanguageClient configs, LS configs, vim configs or me missing some LSP knowledge.

[2020-10-31 21:11] martskins commented on #1125
Opened #1126 in an attempt to fix this

[2020-11-01 20:05] iddinev opened #1127 "Getting " [LC] 'Vim(return):Can''t send data to closed stream' " from neovim after closing .sh & init.vim"
- Did you upgrade to latest plugin version?
**Yes**
- Did you upgrade to/compile latest binary? Run shell command
  `bin/languageclient --version` to get its version number.
**languageclient 0.1.160**
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`?
[code]

- Did you check [troubleshooting]?
**Yes**

[troubleshooting]: https://github.com/autozimu/LanguageClient-neovim/b

[2020-11-01 20:32] martskins commented on #1127
Yep, can reproduce. Could reproduce with 0.1.158 as well. Will look into it but I'm fairly sure that's just our `handleBufWritePost` autocmd trying to run after `w` but not getting there before `q` so it shouldn't be critical.
As as temporary workaround, if you set `let g:LanguageClient_loggingLevel = 'ERROR'` (instead of `INFO`, which I presume you have) that message won't be visible.

[2020-11-01 20:46] iddinev commented on #1127
Somehow I managed to spend 30 min troubleshooting the issue with the minimal rc without realizing that this is just a logging message not being written to the proper place...
Indeed I have the logging level set to 'INFO'...

[2020-11-01 20:54] martskins commented on #1127
@iddinev #1128 should fix this. If you want to try it out you can check that branch out and build from source. I'll give it a spin for today an tomorrow and if everything is right I'll merge, at which point it will be available in the dev branch.

[2020-11-01 23:06] LaBatata101 commented on #1019
Didn't work either, I also tried using the settings generated by VSCode but no luck either. I guess I'll have to work with the default settings, thanks for the help anyway.

[2020-11-02 08:27] iddinev commented on #1127
I just pulled your branch and gave it a go - issue seems fixed. The change is only in vim script code so I don't actually need to build anything right ?

[2020-11-02 08:32] martskins commented on #1127
Ah yeah my bad, I just defaulted to the usual explanation but yeah, you don't need to build anything for this one 👍

[2020-11-02 22:59] #1019 closed, assigned to nobody

[2020-11-03 14:38] #1127 closed, assigned to nobody

[2020-11-03 22:04] martskins commented on #1125
Closing via #1126

[2020-11-03 22:04] #1125 closed, assigned to nobody

[2020-11-04 19:46] martskins commented on #1018
Closing via #1123

[2020-11-04 19:46] #1018 closed, assigned to nobody

[2020-11-04 20:09] martskins commented on #994
Closing via #1124

[2020-11-04 20:09] #994 closed, assigned to nobody

[2020-11-05 21:50] iddinev commented on #1018
Ok, I've played around with LC and have a bit more  clarification on my part, but I still have some stuff that are unclear to me.
If not specified - I'm asking for both nvim and vim.

**Q1** - Is there a way to configure LC to show the full text, or is this a design issue ?
I'm only asking because in some cases the hover text that get for some symbol is wildly different from the one that LC got in

[2020-11-05 22:44] martskins commented on #1018
I'll answer these here but if you could open an issue it would be great, so we keep it on topic and other people can find it easily.

Q1. I opened a draft PR for this a while ago, but it only works in neovim. It's terribly outdated now, and I didn't merge it because it requires neovim 0.5, but I'll try to find another way to implement that, there surely is a way around that for both vim and neovim

[2020-11-06 19:43] martskins commented on #1018
@iddinev You can try the PR for Q1 in #1043

[2020-11-07 15:59] 110y opened #1133 "Diagnostic signs are not displayed"
## Describe the bug

A clear and concise description of what the bug is.

## Environment

- neovim/vim version (`nvim --version` or `vim --version`): `NVIM v0.5.0-812-gd17e50879`
- This plugin version (`git rev-parse --short HEAD`): `11a18ac` (latest `dev` branch)
- This plugin's binary version (`bin/languageclient --version`): `languageclient 0.1.160`
- Minimal vimrc content (A minimal vimrc is t

[2020-11-07 16:10] martskins commented on #1133
This is an issue with gopls. The codeDescription field in the diagnostics should either not be present or contain an valid url in href, but you are getting `"codeDescription":{"href":""}` as per your log. I opened https://github.com/golang/go/issues/42314 a few days ago about this and it seems like it got fixed, so I presume that updating `gopls` (or using the latest release instead of master) sho

[2020-11-07 16:25] martskins commented on #1017
You should be able to do this with the event `LanguageClientDiagnosticsChanged`.

So `autocmd User LanguageClientDiagnosticsChanged :cw` is what I think you're looking for.

[2020-11-07 16:51] martskins commented on #1025
@runiq Just opened #1134 to add this feature

[2020-11-07 17:37] martskins commented on #1025
Closing via #1134

[2020-11-07 17:37] #1025 closed, assigned to nobody

[2020-11-07 17:55] martskins commented on #891
This seems stale and I also wasn't able to reproduce (that's actually how I use nvim usually), so I'm gonna close this, but feel free to re-open if it's still an issue for you.

[2020-11-07 17:55] #891 closed, assigned to nobody

[2020-11-07 18:30] martskins commented on #875
Just updated that PR to properly work in neovim 0.4.X+ and vim8. I'll give it a ride for a few days and merge if all is working correctly.

[2020-11-07 20:26] entropitor opened #1135 "Disable CompleteDone for some language / Enable only for some"
- Did you upgrade to latest plugin version? YES
- Did you upgrade to/compile latest binary? Run shell command
  `bin/languageclient --version` to get its version number.
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`? YES
- Did you check [troubleshooting]? YES

[troubleshooting]: https://github.com/autozimu/LanguageClient-neovim/blob/next/INSTALL.md#troubleshooting

##

[2020-11-07 20:37] martskins commented on #1135
Ah I think this was a bad merge. Can you confirm whether you are using the dev branch? I'll push a fix for this asap.

[2020-11-07 20:57] martskins commented on #1135
Could you provide a log of the server responses? Setting `LanguageClient_loggingLevel` to `DEBUG` should given enough info. Also, a minimal reproducible example would help a lot (including .vimrc please).

And I'm not sure if it will have anything at that point, but if you could paste the output of `:echo v:completed_item` that'd be great!

[2020-11-07 21:39] martskins commented on #1135
If you feel like trying something out though, I think you won't have this issue in the dev branch, which has unreleased changes. As that branch has a commit that basically disables the autocmds for filetypes that you don't have a configured server for, so handleCompleteDone would be called only for fsharp. If you want to try that out you'll have to build from source though.

[2020-11-08 01:57] 110y commented on #1133
Thank you so much! I've confirmed it.

[2020-11-08 01:57] #1133 closed, assigned to nobody

[2020-11-08 11:09] martskins commented on #693
Closing as stale and as it seems to be working now

[2020-11-08 11:09] #693 closed, assigned to nobody

[2020-11-08 11:21] martskins commented on #736
@TysonAndre I believe this should have been solved by #1126

[2020-11-08 11:34] martskins commented on #592
The repo linked in the steps to reproduce is no longer accessible. I tried to reproduce this with a blank project and I couldn't reproduce the issue. Considering that there have been a lot of releases since this was reported and that the steps to reproduce are no longer valid, I'm closing this, but please re-open if this is still an issue for any of you.

[2020-11-08 11:34] #592 closed, assigned to nobody

[2020-11-08 17:42] martskins commented on #1085
Fixed in #1139

[2020-11-08 17:42] #1085 closed, assigned to nobody

[2020-11-08 17:43] martskins commented on #921
Fixed in #1139. Thanks for sharing your findings @pschuprikov

[2020-11-08 17:43] #921 closed, assigned to nobody

[2020-11-08 17:44] martskins commented on #984
Closing via #1121

[2020-11-08 17:44] #984 closed, assigned to nobody

[2020-11-08 18:01] martskins commented on #395
I think this is the proper way to achieve this. I don't think switchbuf should have any effect in this case? From what I've seen it should have an effect on quickfix commands and it already does that in the way that if you have diagnostics in your quickfix and select one of those diagnostics it will open in whatever way you have set in `switchbuf`.

As what I believe a proper solution has been alr

[2020-11-08 18:01] #395 closed, assigned to nobody

[2020-11-08 18:08] martskins commented on #650
I know this is terribly late but doesn't this solve your issue?
[code]

That may not be exactly the same project root that LCN ends up using, but I feel like that should be unique enough?

[2020-11-08 18:33] martskins commented on #873
Closing via #1140

[2020-11-08 18:33] #873 closed, assigned to nobody

[2020-11-08 18:44] martskins commented on #882
I feel like this is a little expensive just for toggling the visibility of diagnostics. Maybe a better approach would be to create a highlight group that you can then modify in your ToggleDiagnostics function. That would I think have the same effect without the overhead of restarting the server.

If you feel like adding something like the above in the docs I would be happy to merge. Meanwhile, I'm

[2020-11-08 18:44] #882 closed, assigned to nobody

[2020-11-08 19:06] martskins commented on #1088
I don't really understand the issue you are having. Could you provide a more detailed explanation of what you expected to see and what you saw instead?

I don't see anything wrong in your screenshots.

[2020-11-08 19:47] entropitor commented on #1135
Right now, I'm only installing this plugin for fsharp (using vim-plug `for` argument) and then doing the following to disable the CompleteDone

[code]

It works for me but it's a bit annoying

This is `:echo v:completed_item`
[code]

[2020-11-08 20:44] martskins commented on #1135
Yeah I think this shouldn't be a problem for you in the `dev` branch. If you are happy to try that out it would be great. Otherwise, your fix seems like a reasonable approach until we cut the next release.

[2020-11-09 08:53] martskins commented on #1135
I'm actually a little surprised about the `v:completed_item` you get. The docs say this

[code]

So theoretically `user_data` should be a string, not a dictionary. If it was a string, this wouldn't be a problem for you. So maybe it's worth opening an issue in completion-nvim. I'll see to do that later today.

[2020-11-09 16:28] TysonAndre commented on #736
The issue I'm describing is referring to the diagnostics (error messages) shown in the `copen` gutter at the bottom, not the signs shown to the top left, if I understood the PR summary

[2020-11-09 17:49] martskins commented on #736
Ah yeah sorry I misread the issue. I'll see if I can replicate and try and find a way to solve it 👍

[2020-11-09 19:53] martskins commented on #875
Closing via #1043

[2020-11-09 19:53] #875 closed, assigned to nobody

[2020-11-09 20:16] martskins commented on #1135
Ok, turns out that that documentation is outdated, `user_data` can now be anything. I just merged a slightly related PR and included a fix for this. So it should work just fine for you in the `dev` branch now.

[2020-11-09 22:58] serhalp commented on #1117
FWIW, this can also be the behavior if you haven't properly followed the installation instructions and run `bash install.sh` as prescribed. In that case the binary isn't present at all, which results in the above error.

[2020-11-10 09:02] entropitor commented on #1135
Seems to work indeed!

[2020-11-10 09:02] #1135 closed, assigned to nobody

[2020-11-10 22:31] martskins commented on #979
I wasn't able to reproduce this. It offers me no completions for `string` but it's sending the right character number

This is what the omnicomplete function is receiving.
[code]

[2020-11-12 18:13] martskins commented on #884
@foonathan Sorry for the massive delay, but I've finally found a nice enough way to solve this. If you want to give it a try you can check #1143 and build from source. I'll be testing it out in these next few days and merging some time next week.

[2020-11-13 21:32] iddinev commented on #1018
@martskins The hover highlighting doesn't seem to work in vim8. The stuff you mentioned in your answer to **Q2** kinda does the trick for neovim, but in vim8 I am still seeing:

Maybe for some reason the hover window doesn't get its filetype properly set to 'markdown' for the markdown plugins to pick it up?
Also, I noticed in the logs that LC has some logic of deciding (or is getting this info str

[2020-11-14 18:11] foonathan commented on #884
I've since switched to nvim's built in LSP... :D

[2020-11-16 18:07] martskins commented on #884
Fair enough! I'll close this one as I've merged the linked PR now. 😁

[2020-11-16 18:07] #884 closed, assigned to nobody

[2020-11-17 02:36] RunningIkkyu opened #1146 "The comment in hover adds blackslash and emptylines automatically."
---
- Did you upgrade to/compile latest binary? Run shell command
  `bin/languageclient --version` to get its version number.
Yes, and the version is `languageclient 0.1.160`

---

- (Neovim users only) Did you check output of `:checkhealth LanguageClient`?

[code]
## Info

plugin version: Latest.
Neovim version: NVIM v0.5.0
System: linux 5.6.19-2-MANJARO

## Describe the bug

The text shows in ho

[2020-11-17 05:30] sim590 opened #1147 "invalid value: integer `-2`, expected u64, breaks syntax error report"
- Did you upgrade to latest plugin version? **Yes**
- Did you upgrade to/compile latest binary? Run shell command
  `bin/languageclient --version` to get its version number. **Yes**
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`? **N/A**
- Did you check [troubleshooting]? **Yes**

[troubleshooting]: https://github.com/autozimu/LanguageClient-neovim/blob/next/INSTALL.md

[2020-11-17 08:24] martskins commented on #1147
I think this may be an issue with the server. The publishDiagnostics notification is sent from the server and the character and line values you get there should be greater or equal to zero, as it doesn't make sense for them to be anything else.

The spec even says that there are no special values like -1 to denote EOL or anything like that.

[2020-11-17 08:30] martskins commented on #1146
I think what you are seeing is due to the server sending the documentation for that as `markdown`. I'm not sure if there's anything you can do to convince the server that that is not markdown, but if you want to get the raw text every time you can configure that with this:

```let g:LanguageClient_preferredMarkupKind: ['plaintext', 'markdown']```

That tells the server that you prefer plaintext ov

[2020-11-17 13:08] googleson78 opened #1148 ""Go to next error" action feature request"
I'm not sure if something like this exists already, and I just haven't found it - I would like to be able to have an action that goes to the "next" diagnostic (perhaps configurable, e.g. go to next warning, go to next error).

This is extremely useful in a typed-language setting, where very often changing a core type means just going around files/your codebase and doing mostly trivial changes to t

[2020-11-17 17:44] martskins commented on #1148
To cycle diagnostics in a buffer you can use `:call LanguageClient#diagnosticsNext()` and `:call LanguageClient#diagnosticsPrevious()`. There's a plug mapping for these so you can map them with something like this:

[code]

To cycle diagnostics in the whole project you can use `:cnext` and `:cprevious` or `:lnext` or `:lprevious` depending on whether you have configured quickfix or location list f

[2020-11-17 18:20] googleson78 commented on #1148
Omg sorry! And thanks! I'll try these out

[2020-11-17 18:20] #1148 closed, assigned to nobody

[2020-11-17 21:26] martskins commented on #647
I'll close this as it's quite dated and I've recently proven it works.

[2020-11-17 21:26] #647 closed, assigned to nobody

[2020-11-17 21:29] #1017 closed, assigned to nobody

[2020-11-18 02:45] RunningIkkyu commented on #1146
@martskins  Thank you so much, this solved my probelm:

[code]

[2020-11-18 02:45] #1146 closed, assigned to nobody

[2020-11-19 18:19] martskins commented on #1107
@jez I was playing with some ideas for this and ended up pushing some changes to a draft PR I had for something related. In that PR you can now specify default `initializationOptions` for a configured server in the .vimrc file. Workspace local settings will still need to be specified as they are now (with the settings.json file), but I reckon most cases would be covered by this.

See #1116

[2020-11-22 15:18] iddinev commented on #177
Any updates on the  ↩️ [completionItem/resolve](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#completionItem_resolve) functionality ?
I recently hit a wall with it while using [iamcco/vim-language-server](https://github.com/iamcco/vim-language-server) - I initially opened an [issue](https://github.com/iamcco/vim-language-server/issues/49) with them, and

[2020-11-22 15:43] martskins commented on #177
It should be working as of #1043. Note that that commit is merged only in the dev branch, and it seems like in the issue you opened you were using branch next. I'll create a new release to get those changes to the next branch some time next week but you can switch to dev and build from source if you want to get that now.

[2020-11-23 14:58] htfy96 opened #1153 "Infinite recursion on recursed directory structure"
- Did you upgrade to latest plugin version?: Yes
- Did you upgrade to/compile latest binary? Run shell command
  `bin/languageclient --version` to get its version number.
`languageclient 0.1.160`
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`?
[code]
- Did you check [troubleshooting]? Yes

[troubleshooting]: https://github.com/autozimu/LanguageClient-neovim/blob/next/I

[2020-11-23 17:12] bartek commented on #854
I've been running into this myself and am stuck as @klnusbaum describes, where `organizeImports` is called on buffer write:

    autocmd BufWritePre *.go :call LanguageClient#textDocument_codeAction() "source.organizeImports"

And as others, I have the single-item fzf selection UI. It'd be nice to run `goimports` from gopls on each write. Any help would be appreciated!

[2020-11-23 19:05] martskins commented on #854
I'm not quite sure as to how to implement this. If `organizeImports` was a command we could just `LanguageClient#workspace_executeCommand`, but it's a code action, not a command, and that `source.organizeImports` is the kind of the code action, so I'm not sure if there can be other code actions with that same kind. If that is the case then filtering by kind could result in unexpected actions being

[2020-11-25 18:30] martskins commented on #1153
Could you provide an example tree of the directories you have in your project so that I can try and reproduce this?

**EDIT**: Never mind, just managed to reproduce.

[2020-11-26 00:20] martskins commented on #1153
I'm actually not sure what the proper solution to this would be. Not following symlinks would probably cause unexpected behaviour for other users, so I guess we have to follow them. But we'd probably have to try and detect if they are recursive somehow.

[2020-11-27 23:22] htfy96 commented on #1153
Hi, sorry for the late response. Glad you can reproduce this on your end.

Regarding the best way to fix this issue, I feel like we can follow [vscode's approach](https://github.com/microsoft/vscode/blob/8c91bd827848f1710d055c39d80d04c59bb55463/src/vs/platform/files/node/watcher/nsfw/nsfwWatcherService.ts) by just watching all events from the project root, and filter incoming events based on the g

[2020-11-30 10:09] alopatindev opened #1157 "Rust: [LC] sending on a disconnected channel"
- Did you upgrade to latest plugin version? Yes
- Did you upgrade to/compile latest binary? Run shell command
  `bin/languageclient --version` to get its version number. Yes
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`? Yes
- Did you check [troubleshooting]? Yes

[troubleshooting]: https://github.com/autozimu/LanguageClient-neovim/blob/next/INSTALL.md#troubleshooting

[2020-11-30 17:55] martskins commented on #1157
Can you share some more of the log? Also, have you tried updating rust-analyzer? I found a similar issue a few days ago but it was a specific commit that was broken and was fixed on the nightly release of the next day.

[2020-12-01 17:08] alopatindev commented on #1157
Thanks, it seems that updating rust-analyzer to ac30710 2020-11-30 solved the issue for me.

[2020-12-01 17:08] #1157 closed, assigned to nobody

[2020-12-01 22:17] roddyyaga opened #1158 "Running code action automatically when there is only one"
When I run code action I get an FZF window of choices. In the case where there is only one, is there a way to execute it immediately? Adding an extra `<CR>` in the binding doesn't work.

[2020-12-01 22:18] roddyyaga opened #1159 "Yank the result of hovering"
Is there an easy way to yank the result of hovering? I have something hacky that waits until the preview window is open and jumps there but would prefer something more legitimate.

[2020-12-01 22:38] martskins commented on #1158
There's nothing there yet, but I commented on this a few days ago here https://github.com/autozimu/LanguageClient-neovim/issues/854#issuecomment-732363961.

I'll try and see if I can find a nice way to enable this, although it's likely going to be a new function or a modification to one existing function instead of it just selecting it when there's only one. I oppose to the idea of calling the act

[2020-12-01 22:42] roddyyaga commented on #1158
Sure, being able to explicitly call a specific code action would also work and be better.

[2020-12-01 23:02] martskins commented on #1159
The `dev` branch uses specific names for the windows we use, so if you switch to the `dev` branch (have to build from source) you could do something like this:

[code]
Where `@t` is the register t, so you'd paste with `"tp`. You can change that to the unnamed register or whatever you prefer though.

A release is due soon though, so in a few days that should also work in the `next` branch.

[2020-12-02 00:01] martskins commented on #1158
@roddyyaga Just opened #1160 that would probably address this. Note that that PR only works for code actions, not commands, as they can't be filtered by kind alone, and commands can already be executed via `LanguageClient#workspace_executeCommand`

[2020-12-04 09:20] OJFord opened #1161 "textDocument_formatting() writes even if unchanged"
I want to `autocmd CursorHold <buffer> call LanguageClient#textDocument_formatting()`, but currently the problem is that it writes out even if unchanged; so the buffer constantly reverts to being unsaved (unless I quit soon enough after writing that `CursorHold` doesn't kick in).

[2020-12-04 19:10] martskins commented on #1161
What language server are you seeing this in? I think this may be a server issue, as I can't reproduce in Go or Rust (for example). In any case, you could do something like this if you want to avoid this and even avoid the first re-save you have to do now.

[code]

I'm not 100% sure if this can introduce any issues with your flow but I would suspect it's fine given that you are already using the as

[2020-12-05 00:25] OJFord commented on #1161
vls (Vue) when I reported it, but it is indeed fine with pyls (Python) so not a bug here, at least. (And I'm in no mood to look at any Vue code over a weekend..! :smile:)

[2020-12-05 00:25] #1161 closed, assigned to nobody

[2020-12-05 23:43] martskins commented on #1158
Closing via #1160

[2020-12-05 23:43] #1158 closed, assigned to nobody

[2020-12-06 00:10] roddyyaga commented on #1158
@martskins

Thanks for coming up with a fix so quickly! For some reason it's not working for me though: hen using `executeCodeAction` I'm getting `[LC] Error: Failure { jsonrpc: Some(V2), error: Error { code: InternalError, message: "Unknown method", data: Some(Object({"method": String("languageClient/executeCodeAction")})) }, id: Num(1) }` for some reason (with id incrementing each time). I'm doi

[2020-12-06 00:18] martskins commented on #1158
Have you compiled the client? The dev branch doesn't produce a binary that you can just use, you need to compile from source to be able to use it. (I'm assuming you are using the dev branch cause I would expect another error otherwise)

[2020-12-06 00:21] martskins commented on #1147
Closing this as it seems to be stale and a server issue. Feel free to re-open if that's not the case.

[2020-12-06 00:21] #1147 closed, assigned to nobody

[2020-12-06 14:22] roddyyaga commented on #1158
Thanks again, that was it!

[2020-12-08 22:16] mqudsi opened #1169 "Neovim hangs after LSP aborts mid-completion"
- Did you upgrade to latest plugin version? yes
- Did you upgrade to/compile latest binary? languageclient 0.1.160
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`? yes
- Did you check [troubleshooting]? yes

## Describe the bug

Due to [an upstream `rust-analyzer` bug](https://github.com/rust-analyzer/rust-analyzer/issues/6668), the language server was crashing in the m

[2020-12-09 14:03] martskins commented on #1169
Yep, I could reproduce. Just a minor correction though, the server is not crashing, it just isn't replying. If you wait long enough (60 seconds) the request will time out and it will recover. But indeed, the client is looping here https://github.com/autozimu/LanguageClient-neovim/blob/4037b1d872f3e65384ceb92c25bf19cac449b803/autoload/LanguageClient.vim#L1106.

I'm looking into this to see if we ca

[2020-12-09 14:22] martskins commented on #1169
@mqudsi I think #1170 should do the trick, I'll give it a try in the next few days and if everything works as expected we can merge that into dev.

[2020-12-09 14:38] martskins commented on #1159
@roddyyaga I'm assuming this worked for you so I'm closing the issue. Feel free to re-open if it didn't though.

[2020-12-09 14:38] #1159 closed, assigned to nobody

[2020-12-09 14:43] martskins commented on #1107
@jez Just merged #1116 in the `dev` branch.

That means that you can now specify your server command like this if you want to specify default initialization options for a server:

[code]

I'm closing this issue now that it's solved in dev and I'll look into cutting a release early next week if all works as expected. Feel free to re-open if it doesn't really solve what you had in mind though.

[2020-12-09 14:43] #1107 closed, assigned to nobody

[2020-12-09 15:57] mqudsi commented on #1169
Thanks, removing that blocking call would indeed be a welcome change. I'll test that branch myself locally as well today, if I get the chance.

[2020-12-10 02:08] martskins commented on #1088
Closing as stale

[2020-12-10 02:08] #1088 closed, assigned to nobody

[2020-12-10 13:46] martskins commented on #840
I can't reproduce this, but this is quite dated so perhaps no longer an issue?

[2020-12-16 02:31] martskins commented on #923
Closing via #1090

[2020-12-16 02:31] #923 closed, assigned to nobody

[2020-12-16 02:33] martskins commented on #832
Closing as it seems to be a server issue as per your last comment.

[2020-12-16 02:33] #832 closed, assigned to nobody

[2020-12-16 22:28] martskins commented on #569
As of #1144 LCN does no longer use ale's highlight groups, it instead defines it's own groups and uses that as a default, so this shouldn't be a problem anymore. If the problem persists thought, feel free to re-open.

[2020-12-16 22:28] #569 closed, assigned to nobody

[2020-12-17 23:05] tkonolige commented on #840
I haven't been using denote in a while. Not sure if it still exists.

[2020-12-17 23:05] #840 closed, assigned to nobody

[2020-12-21 21:35] fanzeyi opened #1176 "Feature Request: new autocmd event `LanguageClientInitialized` for registering handlers before anything happens?"
## Is your feature request related to a problem? Please describe.

In our language server implementation, we have some customize events that I'd like to register handlers for since it would crash if the language client does not handle these events at all. The tricky part is that it sends some of these custom events at the very beginning of a session.

My understanding is that we can only register

[2020-12-21 21:58] martskins commented on #1176
I think something like that could be merged yeah, although I would change the name of the autocmd, as that could easily be mistaken for `LSP` initialized, which happens after that.

Out of curiosity, are you using `LanguageClient#registerHandlers()` inside that `RegisterEventHandlers` function?

I think a better strategy would be to include a dictionary of handlers in the server config, so that di

[2020-12-21 22:09] fanzeyi commented on #1176
Great! Maybe something like `LanguageClientCreated` is a better name?

Yep.

Agree. This should be a better solution. nvim_lsp does allow you to configure a custom handler in configuration directly without registering after the server is started. Having something like that in LanguageClient-neovim would be quite nice. Is there an issue tracking this?

[2020-12-21 22:46] martskins commented on #1176
There's no issue tracking this, nope. If you are happy to create one I can try to open a PR for this in the next few days. Or if anyone else wants to tackle this one that would also be great!

[2020-12-23 20:36] dryya opened #1178 "Floating completion item documentation appears under completion menu"
- Did you upgrade to latest plugin version? Yes. languageclient --version is 0.1.161. :checkhealth is all green/OK.
- Did you check [troubleshooting]? Yes, I tested with a minimal vimrc, as follows:

[code]
[troubleshooting]: https://github.com/autozimu/LanguageClient-neovim/blob/next/INSTALL.md#troubleshooting

## Describe the bug

The floating documentation window for the currently selected comp

[2020-12-23 20:54] martskins commented on #1178
This looks like the same that has been reported in this discussion thread: https://github.com/autozimu/LanguageClient-neovim/discussions/1175

I'll try and come up with a way to fix this, as it seems to be quite frequent.

[2020-12-23 20:58] dryya commented on #1178
Apologies, I searched but didn't see that issue. As you mentioned there, in many cases it definitely seems to be a lack of screen space. However, this happens to me a lot more often in R than with other language servers, and in many of those cases (like in my screenshot) the entire function documentation is a single paragraph or even sentence and should easily fit on screen. Unfortunately I don't

[2020-12-31 11:18] kamilchm commented on #576
@Cypher1 you can call it directly `:call LanguageClient#explainErrorAtPoint()` or map it to a key in your config, eg.
[code]

[2021-01-05 02:34] kadru commented on #596
I just checked the referenced PR and seems arm support was added but later was removed.

Will be any plans to support arm? @autozimu.

[2021-01-05 21:39] martskins commented on #596
@kadru I think #1179 should bring this back

[2021-01-06 05:38] Cypher1 commented on #576
Thank you @kamilchm just got to use it for the first time and its awesome :D Exactly what I hoped it would do!

[2021-01-13 10:52] Veykril commented on #1055
This issue should be fixed in the server now, would be great if you can test this on the next nightly(tomorrow) or stable(next monday) release and report back if its fixed for you 👍

[2021-01-14 08:12] carbolymer opened #1181 "Cannot disable preview window in config"
- Did you upgrade to latest plugin version? yes, 0.1.161
- Did you check [troubleshooting]? yes

[troubleshooting]: https://github.com/autozimu/LanguageClient-neovim/blob/next/INSTALL.md#troubleshooting

## Describe the bug

Preview window cannot be disabled through the configuration options. Following options have no effect on preview window:
[code]

## Environment

- neovim/vim version (`nvim --

[2021-01-14 08:26] carbolymer commented on #1181
Turns out it's not LanguageClient-neovim related issue. This controls preview window:
[code]
vide: https://stackoverflow.com/a/22526162/1608594

[2021-01-14 08:26] #1181 closed, assigned to nobody

[2021-01-14 20:36] martskins commented on #1055
Yeah nightly seems to fix this! Thanks to everyone involved in fixing this in rust-analyzer 🙇‍♂️

[2021-01-14 20:36] #1055 closed, assigned to nobody

[2021-01-14 21:53] martskins commented on #1176
Closing this via #1177

[2021-01-14 21:53] #1176 closed, assigned to nobody

[2021-01-17 01:40] ta3pks opened #1182 "initializationOptions are not passed to rust-analyzer"
- Did you upgrade to latest plugin version? :heavy_check_mark:
- Did you upgrade to/compile latest binary? Run shell command
  `bin/languageclient --version` to get its version number.  `languageclient 0.1.161`
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`? :heavy_check_mark:
- Did you check [troubleshooting]? :heavy_check_mark:

[troubleshooting]: https://github.com/

[2021-01-17 03:26] ta3pks commented on #1182
options are supposed to be specified as nested maps one key at a time I guess this has nothing to do with LanguageClient-neovim afterall

[2021-01-17 03:26] #1182 closed, assigned to nobody

[2021-01-17 07:40] ta3pks opened #1183 "How can I cancel completion item documentation?"
How can I cancel completion item documentation?

[2021-01-17 08:00] martskins commented on #1183
If by cancel you mean hide them, not show them at all, then you can do that by adding this to your vimrc:

`let g:LanguageClient_showCompletionDocs = 0`

Note that this is documented in `doc/LanguageClient.txt`

[2021-01-17 08:04] martskins commented on #1182
I think the issue you are/were having is that the `rust-analyzer.` prefix on your options should not be included in this config section. The idea behind that not being necessary was that it was already clear that the initialization options were for `rust-analyzer` (or whatever server you were configuring), but maybe that's not clear or correct enough and it's worth changing it to require the full

[2021-01-18 09:56] TheZoq2 opened #1184 "Invert order of diagnostic messages"
## Describe the bug

As of a few versions back, I have started seeing hint messages from rust-analyzer being shown in the language client. While this change is very good, the way they are displayed is a bit annoying as the hints shadow errors and warnings.

For example:

![image](https://user-images.githubusercontent.com/5312813/104898929-82300780-597a-11eb-9963-39c3a5d9ff0a.png)

The underlying e

[2021-01-18 18:38] martskins commented on #1184
That has actually been fixed in #1172 but it hasn't been released yet. If you use the dev branch (and build from source) you can get that change into your workflow now, otherwise you'll have to use your workaround until a new release is cut. Shouldn't be too long until a new release, but some important changes have taken place lately and I want to make sure nothing breaks for a few more days.

[2021-01-18 22:05] TheZoq2 commented on #1184
Ah awesome, though I think I'm already on the dev branch and it looks like 8cba87e is the latest commit ID on that branch. Maybe I'm missing something though

[2021-01-18 23:08] martskins commented on #1184
Have you built the binary from source? `make release` ?

[2021-01-19 02:20] ta3pks commented on #1183
thanks I searched the docs but couldnt find initially

[2021-01-19 02:20] #1183 closed, assigned to nobody

[2021-01-19 02:22] ta3pks commented on #1182
@martskins  that doesnt work either
[code]
dos work however

[2021-01-19 08:44] TheZoq2 commented on #1184
Ah, I completely missed having to do that. Looks like it works now :)

[2021-01-19 08:44] #1184 closed, assigned to nobody

[2021-01-28 19:42] rottencandy opened #1186 "Single server for multiple filetypes"
## Is your feature request related to a problem? Please describe.

Some languages have a single server that can target multiple different filetypes. For example `typescript-language-server` that works with `javascript`, `typescript` & `jsx`.
Or `clangd` that can work with `C`, `C++`, etc.

When working on a project where both filetypes are used, it spins up multiple servers, which feels like a was

[2021-01-28 21:15] martskins commented on #1186
Hm there's an open issue here that actually requests the opposite, being able to launch more than one server for a single language type, but this one I don't think we have considered before. This is a rather involved change, but leaving that complexity aside, does the protocol specify whether a single instance of a server should be able to handle different languages? Or is that property derived fr

[2021-01-29 08:47] rottencandy commented on #1186
Haven't seen this mentioned in the protocol spec. But I'd say that it would work, since the supported languages can be used together, like importing a `js` file inside `ts`. The server would have to do the same work for both of them anyway.
I've also used clients in the past that supported a single server for multiple filetypes, and the servers I mentioned worked fine.

[2021-01-29 09:02] rottencandy commented on #1186
Another benefit I can think of:
Unsaved changes in one filetype's buffer can be recognized and considered by the server in another filetype, if both filetypes share a single server.

It wouldn't be possible if the filetypes have separate servers, as they would not be aware of changes outside of their own filetype.

[2021-01-31 00:47] cultab commented on #818
Incase someone else is trying to do this, I think the bufname changed to "__LCNHover__"

`autocmd BufEnter __LCNHover__ echo 'hello'`

Is what I had to use now.

[2021-01-31 21:37] Gonzih commented on #834
Is there a way to disable this for a given language explicitly in LanguageClient configuration? reading docs did not yield any useful information on this matter.

Cheers

[2021-01-31 21:54] martskins commented on #834
Not yet. It should be fairly simple to implement though so if someone is willing to open a PR I would be happy to help and merge. Otherwise I should be able to have a commit ready for this in a few days.

[2021-02-02 09:10] carbolymer opened #1187 "Cannot disable highlighting"
- Did you upgrade to latest plugin version? yes
- Did you upgrade to/compile latest binary? languageclient 0.1.161
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`? Not an editor command
- Did you check [troubleshooting]? yes

[troubleshooting]: https://github.com/autozimu/LanguageClient-neovim/blob/next/INSTALL.md#troubleshooting

## Describe the bug

Cannot disable doc

[2021-02-02 18:15] martskins commented on #1187
Can you provide a minimal, complete vimrc that reproduces this issue? I haven't been able to reproduce the issue myself.

[2021-02-02 19:07] martskins commented on #834
Does anyone have an example of a server that does not advertise support for this? I have something ready-ish but would like to try it out first before pushing any changes.

[2021-02-02 21:15] Gonzih commented on #834
@martskins dart server has this issue, once you installed dart you can run it with `dart "$DART_SDK/bin/snapshots/analysis_server.dart.snapshot" --lsp`. LC config:

[code]

[2021-02-03 12:00] carbolymer commented on #1187
@martskins sure, here you have python example with venv, requirements and minimal vimrc: https://gitlab.com/carbolymer/lc-nvim-broken-highlight

[2021-02-03 18:05] martskins commented on #1187
I'm still not able to reproduce. I had to move some stuff around in the vimrc you provided there (I didn't have the /vim82/defaults file, I found one though, that I think must be the one you are referring to in there) and the vimrc was missing the colorscheme plugin, which I also think I managed to find. But adding that and moving the plugins to the top of the file worked fine for me and it looked

[2021-02-03 19:16] carbolymer commented on #1187
@martskins you don't have errors and hints on the margin so it looks like language server wasn't even started? I think something is still missing there, I'll try to reproduce it again tomorrow.

[2021-02-03 20:16] martskins commented on #1187
I'm not sure how pyls works in terms of diagnostics, but the server is definitely running, I tried calling `textDocument/definition` just to make sure and it works.

[2021-02-03 21:37] martskins commented on #834
Opened #1188 to fix this. It will only send the notification if the server advertised support for it. I tried it with dart and it seemed to work, but if someone else can give that PR a try that would be great.

[2021-02-04 11:23] carbolymer commented on #1187
@martskins ok, I've added `Dockerfile` which reproduces the problem. If you don't have podman, you can replace `podman` with `docker` commands in `test.sh`

https://gitlab.com/carbolymer/lc-nvim-broken-highlight

[2021-02-04 19:09] martskins commented on #1187
Ok I see what's going on. What you are seeing is the text decoration for diagnostics. LanguageClient-neovim defines a few highlight groups to use in the code that has diagnostics to display. You can change those by overriding the `g:LanguageClient_diagnosticsDisplay` config variable. The default value is the following:

[code]

The highlight group that's applied is the `texthl` bit in those.  Note

[2021-02-06 05:56] YaLTeR opened #1191 "languageclient doesn't start the language server on my vimrc"
- Did you upgrade to latest plugin version? Yes
- Did you upgrade to/compile latest binary? Run shell command
  `bin/languageclient --version` to get its version number. 0.1.161
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`? Yes
- Did you check [troubleshooting]? Yes

[troubleshooting]: https://github.com/autozimu/LanguageClient-neovim/blob/next/INSTALL.md#troubleshoo

[2021-02-06 10:50] carbolymer commented on #1187
@martskins Thanks a lot for the explanation! I suspected that it was related with the highlight groups but I couldn't figure out which is the right option from the docs. I guess this is not a bug.

[2021-02-06 10:50] #1187 closed, assigned to nobody

[2021-02-06 10:51] martskins commented on #1191
Can you share your vimrc? I'm pretty sure this has to be some misconfiguration.Meanwhile, I'll see to edit the sync_settings function so that the logging level and file are parsed and configured before anything else so that it can output errors correctly.

[2021-02-06 11:06] martskins commented on #1191
@YaLTeR this branch should be a little more helpful: https://github.com/autozimu/LanguageClient-neovim/pull/1192

It's not ideal, as it doesn't tell you exactly what is wrong, but it tells you the value, so maybe that helps track the error down.

[2021-02-06 11:09] martskins commented on #834
Merged #1188. It's not available on the `next` branch yet, we need to cut a release for it to be officially fixed, but if any of you are using the `dev` branch you should see it fixed.

[2021-02-06 11:19] YaLTeR commented on #1191
With this branch I got the log!

Oh, I guess something changed in the new version.

[2021-02-06 11:25] martskins commented on #1191
Yeah that might be either `g:LanguageClient_diagnosticsDisplay` or `g:LanguageClient_codeLensDisplay`. Let me know what you had there before, maybe we can do something to allow backwards compatibility.

[2021-02-06 11:52] YaLTeR commented on #1191
I had this:

[code]

I removed it in favor of modifying the default highlights and now it works.

[2021-02-06 12:04] martskins commented on #1191
I see. Yeah, we should probably allow partial settings for those like you had. I'll see if I can find some time to create a PR for that.

[2021-02-06 12:08] YaLTeR commented on #1191
Or at least complain loudly :)

[2021-02-06 15:38] Gonzih commented on #834
Thanks for the fix @martskins !

[2021-02-07 07:18] YaLTeR opened #1193 "Preset LanguageClient_semanticHighlightMaps for known servers"
## Is your feature request related to a problem? Please describe.

clangd and rust-analyzer (and maybe others) have semantic highlighting, would be nice if it worked out of the box.

## Describe the solution you'd like

As far as I understand, vim has a number of preset highlight classes which are used by the built-in syntax highlighting. They very likely already look great on the user's theme. Th

[2021-02-07 19:01] martskins commented on #1193
That is a great idea. We probably need to adjust the semantic highlighting implementation first though, as I believe that was a proposal in 3.16 when 3.15 was the current protocol version and it eventually got replaced/renamed by `semantic tokens`, which changes a few detail implementations. So probably a good place to start would be to add support for that again (possibly breaking the feature wit

[2021-02-08 21:08] martskins commented on #1193
@YaLTeR Just opened a draft #1194 to track progress on this. The implementation as it is now works (for the most part at least), but still needs mapping of lsp token types to vim highlight groups, I covered some of them but some others I didn't find a good option and left out. Also some of the highlight groups I chose are far less than ideal, so probably that is up for review as well.

To see it i

[2021-02-13 02:34] maujim opened #1196 "Properly customizable context menu"
## Is your feature request related to a problem? Please describe.

After reading the docs, I couldn't seem to find a way to edit the entries in the context menu. After poking around in the source code however, I saw that it is doable. I did it by overriding the `LanguageClient_contextMenuItems()` function in my `.vimrc`. I'm wondering if there is a better way to enable this feature.

## Describe t

[2021-02-13 13:07] martskins commented on #1196
I honestly think context menu should actually be displaying items that make sense in the current context, so for example it should offer code lenses or code actions only if they are available in the current cursor position. But I reckon that may result in a confusing experience with items changing that much, so I'm not opposed to offering customisation for it.
Out of interest though, what is it yo

[2021-02-13 18:08] maujim commented on #1196
I have mappings for `go to definition`, `rename` and `hover` because I use those often so I've removed those from the context menu.

For the rest of the functionality, I don't use those enough to warrant a dedicated mapping so I have a mapping for the context menu and I use it to access the other functionalities. I've also added `code lens action` and `explain error at point` to the context menu.

[2021-02-13 19:58] martskins commented on #1196
I see. Well, it doesn't hurt having that be configurable, so if you are happy to send a PR I'll be glad to merge. Otherwise I'll see to add this myself in the next few days.

[2021-02-13 20:25] maujim commented on #1196
I don't think I can send a PR anytime soon, sorry :(

[2021-02-20 12:20] weigangd opened #1198 "Is visualCodeAction working?"
## Describe the bug

I am trying to use the "extract function assist" function from rust-analyzer: https://rust-analyzer.github.io/thisweek/2021/02/08/changelog-63.html#new-features . I found the [visualCodeAction](https://github.com/autozimu/LanguageClient-neovim/pull/1022) but I can't make it work. Whenever I select code and use directly `:call LanguageClient#textDocument_visualCodeAction()` not

[2021-02-21 08:19] fragilelambda commented on #1191
+1 meet same issue, I use a complete settings for diagnosticsDisplay, then everything goes fine.

[2021-02-21 13:43] arclabs561 commented on #719
Can this issue confirm the solution with a permalink or the config name?

[2021-02-21 13:48] martskins commented on #719
@henrywallace I think this is what you are looking for https://github.com/autozimu/LanguageClient-neovim/blob/a42594c9c320b1283e9b9058b85a8097d8325fed/doc/LanguageClient.txt#L435

If you set that to `No` it won't use virtual texts at all. `CodeLens` will use it only for code lens and not for diagnostics.

[2021-02-23 19:39] martskins commented on #1198
It's working for me with that version of rust-analyzer.

![Peek 2021-02-23 19-38](https://user-images.githubusercontent.com/4250565/108898202-d4fe7e00-760e-11eb-8420-7e7589096c0f.gif)

Can you try setting the log level to `DEBUG` and the log after trying this?

[2021-02-23 20:39] weigangd commented on #1198
Thank you for your answer. Thanks to you GIF i noticed that it works when I use the character visual mode **v** but when I use the line visual mode **V** then nothing happens. I think the important logging lines are:
[code]
Edit: Format log

[2021-02-23 20:42] weigangd commented on #1198
The '"end": {"character": 2147483646,...' seems suspicious

[2021-02-23 21:13] martskins commented on #1198
Oh I see. Yeah, that seems to be what vim returns when you call `getpos` in visual line mode.

From `:help getpos()`
[code]

`'>` is precisely the end bit you are seeing there. I'm not sure if there is a better, non-hacky way to get the bounds of the visual selection, but I'll see if I can find something. If anyone else is interested in finding a solution for this, the relevant piece of code is he

[2021-02-24 16:11] weigangd commented on #1198
Inspired by: http://vim.1045645.n5.nabble.com/Bug-with-getpos-td1163979.html I found out one can use col("'>") instead of getpos("'>"). Also get_visual_selection() looks a lot like it was copied from https://stackoverflow.com/a/6271254 and a lot of it is not neccessary. I fixed it for me locally with the following code:
[code]
This works fine for me but there are two more things I would like to me

[2021-02-24 17:04] ibraheemdev commented on #934
Was support added in #1106? I can't get it to work with the following config:
[code]

[2021-02-24 17:36] martskins commented on #934
@ibraheemdev it works for me with that exact configuration. Which version of rust-analyzer and language-client-neovim are you using?

[2021-02-24 17:37] martskins commented on #1198
Oh nice one! If you want to open a PR for that I'd be happy to merge.

About the $0fun_name thing. I assumed it was an issue with my snippets config so I didn't pay too much attention to it, but if it happens to you too might be worth investigating.

[2021-02-24 17:42] ibraheemdev commented on #934
@martskins I built rust-analyzer from master and languageclient-neovim from `next`:
[code]
`rust-analyzer.inlayHints` are working for me with coc.nvim.

[2021-02-24 19:33] weigangd commented on #1198
Created the PR.

The $0fun_name thing happens to me too and I don't really know anything about or use snippets. So if you have time to investigate it I would be glad. It happened with nvim-lsp, too.

[2021-02-24 19:50] ANtlord opened #1200 "Go to definition"
- Did you upgrade to latest plugin version?
Yes

- Did you upgrade to/compile latest binary? Run shell command
  `bin/languageclient --version` to get its version number.
languageclient 0.1.161

- (Neovim users only) Did you check output of `:checkhealth LanguageClient`?
[code]

- Did you check [troubleshooting](https://github.com/autozimu/LanguageClient-neovim/blob/next/INSTALL.md#troubleshooting

[2021-02-24 20:00] martskins commented on #1200
I'm not able to reproduce the issue in your example project.
![Peek 2021-02-24 19-59](https://user-images.githubusercontent.com/4250565/109058475-f331b000-76da-11eb-9e43-e325dc11bc50.gif)

Maybe try adding a minimal vimrc to it so that I can try and reproduce this with your settings.

[2021-02-24 20:32] martskins commented on #934
I see the same behaviour if I compile rust-analyzer from master. Latest release worked for me though, so maybe worth asking in rust-analyzer if something changed in master regarding chaining hints or if maybe you need to do something else to get those when compiling yourself.

[2021-02-24 20:37] ANtlord commented on #1200
Thank you for the blazing fast reply. The settings I experience the issue with are [added](https://github.com/ANtlord/languageclienttest/blob/master/init.vim) to the project. To tell the truth I have no idea what to do except keeping using 0.1.156. Perhaps I can provide some additional technical details?

[2021-02-24 20:50] martskins commented on #1200
Ah sorry, missed the init.vim file there. Will try it out with it and let you know how it goes.

[2021-02-24 20:58] martskins commented on #1200
Still unable to reproduce. Only thing I can think of is try and set the log level to `DEBUG` and submit the relevant portion of the log here.

[2021-02-25 09:52] ANtlord commented on #1200
I caught it. The problem is that my `~/.cargo` directory is a symlink. I made it a regular folder then the LanguageClient works. Perhaps LanguageClient stopped dereferencing it after 0.1.156. The problem in not related to `Go to definition` feature but dereferencing a symlink. Should I close it?

[2021-02-25 10:14] astrolemonade commented on #990
I experience the same issue and I have no clue for solving this, I did `let LanguageClient_useVirtualText="No"` in my configuration and it does not work. I only see errors! Any help on this would be very appreciated

[2021-02-25 21:05] martskins commented on #990
@cata0309  could you share your vimrc and maybe LCN's log output after you launch it?

[2021-02-25 21:06] martskins commented on #1200
Ah great catch! I recall something related to symlinks being tackled some time ago but I can't remember what it was. I'll try and see if I can find it, maybe we can find the solution there.

[2021-02-26 13:32] weigangd commented on #1198
Regarding the $0 thing: I wrote the an issue for the rust-analyzer team ( https://github.com/rust-analyzer/rust-analyzer/issues/7793 ). It seems to be a task for them. In my eyes this issue here can be closed except if you want to do something about the non-ascii visual selection.

[2021-02-26 15:51] ANtlord commented on #1181
Is it possible to disable the hover as well?

UPD: I mean is it possible to disable while selecting a completion entry? I like it when invoke it manually but I don't typing some text.

UPD2: Options to disable the hover as well is `let g:LanguageClient_showCompletionDocs = 0`

[2021-03-07 23:39] stack opened #1201 "macOS / Apple Silicon Not Supported"
This plugin fails to install on Apple Silicon Macs. A manual compilation is possible, with two changes:

1. Because the plugin tries to build the binary, it must you the Makefile. The `date` command is incorrect for macOS, and the `--utc` option must be changed to `-u`. I imagine this affects all BSDs.
2. The current `rust-toolchain` file points to version 1.46.0. Apple Silicon support was not add

[2021-03-19 21:13] martskins commented on #1201
Fixed this in #1203 which is now in dev. If you can confirm this is fixed in that branch that would be great.

[2021-03-19 21:16] martskins commented on #1198
Is it fair to say this has been solved? Still not released but hopefully will see the main branch soonish.

[2021-03-19 21:54] stack commented on #1201
That seems to have fixed it. Thank you!

[2021-03-19 22:06] weigangd commented on #1198
Yes this ticket can be closed. 👍

[2021-03-19 22:06] #1198 closed, assigned to nobody

[2021-03-20 19:29] martskins commented on #1201
Closing this in that case :+1:

[2021-03-20 19:29] #1201 closed, assigned to nobody

[2021-03-25 20:50] ryan0270 opened #1206 "exit() triggers resumeOnCrash"
- Did you upgrade to latest plugin version? Yes
- Did you upgrade to/compile latest binary? 0.1.161
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`? Everything is OK
- Did you check [troubleshooting]?

[troubleshooting]: https://github.com/autozimu/LanguageClient-neovim/blob/next/INSTALL.md#troubleshooting

## Describe the bug

When I explicitly call `LanguageClient#exi

[2021-03-25 21:36] martskins commented on #1206
That is expected, an exit call without a previous shutdown call will exit with code 1, as per the specification:

[code]

If you want to stop the server gracefully you can run the command `:LanguageClientStop`, which will call `LanguageClient#shutdown()` and will not trigger the restart.

[2021-03-28 07:04] sim590 opened #1210 "syntax highlighting (errors and warnings) doesn't disappear after fixing the errors"
- Did you upgrade to latest plugin version? **Yes**
- Did you upgrade to/compile latest binary? Run shell command
  `bin/languageclient --version` to get its version number. **Yes. I do run `install.sh` everytime I upgrade.**
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`? **N/A**
- Did you check [troubleshooting]? **Yes**

[troubleshooting]: https://github.com/autozim

[2021-03-28 07:08] sim590 commented on #1210
This issue is related to #1147. However, now, there is a contradictory behaviour that lets us deduce that the problem is not on the server side: the column error sign does go away, but not the highlighting. Therefore, it's clear that LanguageClient has received the information that the error is not on the line anymore, but it somehow has trouble to remove highlighting properly.

[2021-03-28 21:04] martskins commented on #1210
I had some issues setting up haskell so I ended up testing this with Go instead. I'm not sure if I understood correctly, but if I did what you are saying is that after correcting an error that ends up manifesting as highlighted text in vim you end up with text still highlighted after fixing it? If that's the case, do you see this happening in other languages? I've tried reproducing this in the bas

[2021-03-28 21:40] sim590 commented on #1210
Hi @martskins.

Thanks for your response.

I think that the issue reveals itself when there's a warning above in the file. Notice in my example, there's a warning above about `my_func`.

Could you trigger a warning in your Go file just above and try again to see if the problem occurs? It seems tricky to trigger though. May be warnings are not sufficient, but in my case it is.

[2021-03-28 21:47] sim590 commented on #1210
In order to test with Haskell, you could do the following:

1. Install `ghcup`.
2. Run `ghcup install ghc 8.6.5` (that is the version I use, but I doubt the version is important).
3. Then, set the version: `ghcup set ghc 8.6.5`. This will create relevant symlinks.
4. Run `ghcup install hls`. This is the haskell language server.
5. Add `/home/USER/.ghcup/bin` in your `$PATH`.

All of those packages

[2021-03-28 21:51] martskins commented on #1210
Gopls doesn't seem to report warnings if there are compiler errors, but I could set up the scenario with the warning you mentioned in rust, and I wasn't able to reproduce. Any chance you could set your log level to `DEBUG` and share the contents of your log file after triggering this issue?

[2021-03-28 22:02] martskins commented on #1210
Alright, I was able to reproduce following your steps now, so no need for the log output. It seems like it only happens in vim, not happening in neovim, so definitely something weird our side. I'll see if I can find the culprit.

[2021-03-28 22:47] martskins commented on #1210
Ok so I got some interesting insights on this, not sure how to fix it yet or if it's actually something that needs to be fixed upstream, but it seems like the server is sending the diagnostics notification twice, and it overlaps on diagnostics as well.

So for example, in your command `7Gf=wC undefined`, each key you press while typing `undefined` results in two publish diagnostics notifications b

[2021-03-29 06:31] sim590 commented on #1210
If I build my understanding on what you just said, the server sends diagnostics in the form of notifications and possibly multiple times (twice or more). Those notifications serve to find out what errors there are in the file. If I understand correctly a notification should contain all of the errors that the server knows about, right?

It seems to me that the server may be writing on some error qu

[2021-03-29 16:54] martskins commented on #1210
correct, with the minor observation that errors here actually should be diagnostics, as they are not necessarily errors, could be warnings or hints

The client doesn't do (and shouldn't do) any kind of sorting of the messages, notifications are processed as soon as they are received.

Nope. The version is the document (buffer, file) version. That is, every time you change something on a buffer a n

[2021-03-29 17:01] martskins commented on #1210
Also, fwiw, adding a mutex to lock out the diagnostics processing bit solves this, but I want to avoid going that route because it seems to me like there should be a better solution, but not quite sure what that is yet.

[2021-03-29 17:10] martskins commented on #1210
I'm gonna borrow your repo there and open an issue on the haskell-language-server repo to see if this is something that needs their attention or if it's intentional.

[2021-03-29 17:40] martskins commented on #1210
Actually, I guess locking specifically that bit out should be fine, so I opened #1211. If you have Rust installed and want to give that a try and see whether you can still reproduce that would be great. I'm no longer able to do reproduce the issue with that branch now, but  extra eyes are always welcome.

Also, if everything works out fine I'll be merging this to the `dev` branch, so hopefully you

[2021-03-29 18:23] sim590 commented on #1210
That is exactly what I had in mind when I was talking about a sequence number. Thanks for clarifying!

Well, that's what you do when you consider the sequence number `version`, no? The number actually help you sort out which diagnostics to consider as the last true diagnostic.

[2021-03-29 18:30] martskins commented on #1210
Well, not exactly, as the versions are not necessarily sequential and you could get more than one notification for the same version (as is the case here). You could say that you can filter out notifications/messages that you are not interested based on it though, that I believe would be a fair statement, but it's not necessarily the same as sorting, especially because there is no caching of the me

[2021-03-29 21:24] martskins commented on #1206
Closing this for lack of response, but feel free to re-open if you think this doesn't solve your issue.

[2021-03-29 21:24] #1206 closed, assigned to nobody

[2021-04-02 21:28] sim590 commented on #1210
Hi @martskins,

I just tried commit a734a05 and I still reproduce the same behaviour with the minimal example I gave, unfortunately.

[2021-04-02 21:29] martskins commented on #1210
@sim590 hm, that is weird. Sorry for the maybe dumb question but you did compile the code from source and changed your `Plug` line (or whatever you are using) to use your local copy of this instead right?

[2021-04-02 21:35] sim590 commented on #1210
I did replace `next` by `dev` in my `Plug` line:
[code]
and did run `:source $MYVIMRC | PlugInstall! LanguageClient-neovim` in order to update the repository. It should have rerun `install.hs` in principle. I'm guessing that is not sufficient? I guess I have to run `make`?

[2021-04-02 21:38] sim590 commented on #1210
OK. After running `make`, it did work!

[2021-04-02 21:39] martskins commented on #1210
Ah great! Was in the process of explaining you did need to run `make release`, good to know it worked  :+1:

[2021-04-03 19:24] sim590 commented on #1210
So I played with it a bit and I can say that the minimal example is fixed, but there are still issues. I can't say how to reproduce them just yet. But here's a screen capture:

![still](https://user-images.githubusercontent.com/4147254/113489148-7d1a2900-9490-11eb-9dc4-b0a49a1bae55.png)

[2021-04-03 19:53] martskins commented on #1210
Hm, might need to get more of the logic inside the lock then. I'll ping you when I have a branch with that so you can test it out.

[2021-04-06 15:49] EvanCarroll opened #1212 "autofixers"
## Describe the solution you'd like

The ability to have `:w` run a "fixer" before hand.

## Describe alternatives you've considered

If using using this project to replace ALE I can go to `Formatting` under the F5 tool and it'll run everything through rustfmt. I would like the ability to configure that to happen every time on `:w` though.

[2021-04-06 16:25] martskins commented on #1212
You should be able to configure an `autocmd` for that.
For example:
`autocmd BufWritePre *.go,*.rust call LanguageClient#textDocument_formatting_sync()` would run formatting on save for rust and go files.

[2021-04-06 16:30] EvanCarroll commented on #1212
Cool for comparison in ale it looks like this,

    let g:ale_fix_on_save = 1

[2021-04-06 16:31] martskins commented on #1212
Yeah, we could probably set something like that up, shouldn't be too hard. I think it was mostly a design decision, but I'm not opposed to the idea, I think it makes sense to make that easier for users considering how much everyone uses it.

[2021-04-06 16:40] EvanCarroll commented on #1212
I can see merit in providing the functionality or forcing people to do it the native vim way, but I'd document it either way. I looked for it before asking but I may have missed it.

[2021-04-06 16:41] martskins commented on #1212
Fwiw, adding the option would ultimately do it the same way, so it's not much of a big deal, it wouldn't be any different from any of the other options we provide already. Will see if I can add that at some point this week.

[2021-04-06 16:53] EvanCarroll commented on #1212
For reference when adding the option, I think the two variants that work

[code]

or (with the extension)

[code]

The method you provided didn't work for me.

[2021-04-08 00:57] EvanCarroll opened #1213 "Highlighting customization"
For some reason the highlighting done here by `LanguageClient-neovim` is pretty,

![badhl](https://user-images.githubusercontent.com/19922/113952508-6d297e80-97db-11eb-8e78-60fc18842b8f.png)

this is something that I had mitigated with ALE using,

[code]

[2021-04-08 01:08] #1213 closed, assigned to nobody

[2021-04-08 01:10] EvanCarroll commented on #1213
I found the names here,

[code]

I was able to set them like this,

[code]

[2021-04-08 01:40] EvanCarroll opened #1214 "Highlights don't go away when other files changes."
If I have an error like,

caused by,

    let alerts = client.get_as_store().await.expect("Got JSON");

And then I go to the definition of `get_as_store()` and `pub`, the error goes away. But the highlighting behind the error does not go away.

[2021-04-08 07:49] martskins commented on #1214
Please try and stick to the issue template, you don't have to have an answer for all of them and maybe your description doesn't fit the template that well, but for most cases you'll need to answer those questions eventually anyways, so might as well save some time and start with those answers when you open the issue.

Which language server (and version of it) are you using?
Which version of Langua

[2021-04-08 16:37] mqudsi opened #1215 "LC continues to run if neovim crashes or is killed"
## Describe the bug

If the language client is running and working perfectly, active for the current buffer, and neovim crashes or is killed (`killall -9 nvim`), `languageclient` and any processes it spawned continue to run indefinitely in the background.

## Environment

- neovim/vim version (`nvim --version` or `vim --version`): 0.5.0-dev
- This plugin version (`git rev-parse --short HEAD`): a73

[2021-04-08 17:02] martskins commented on #1215
I don't know if there's much we can do if you `kill -9` neovim, the `languageclient` job is spawned by neovim, so if you `kill` (no -9) neovim it will kill it's child processes, including `languageclient`, but `kill -9` doesn't necessarily do that, and I'm not sure if we can detect that somehow.
To be fair though, this is a pretty extreme case and falls very much out of the expected usage and user

[2021-04-08 17:13] mqudsi commented on #1215
The kill -9 is just to model it, really. I have to kill neovim when LC hangs when its LSP hangs (or I can kill LC), but this also happens when neovim itself crashes (which is, I agree, not all that often).

Neovim's jobstart should create the child process with a pipe connected to the child's stdin, spawning a thread to read from the pipe and set the global abort flag when the read fails should be

[2021-04-09 19:29] EvanCarroll commented on #1214
I actually don't think this is specific to that issue. It seems to happen a lot where the background doesn't get unhighlighted without restarting vim.

[code]

I'll work on reproducing the issue later, if this is new.

[2021-04-09 22:10] martskins commented on #1214
I don't know what issue you are referring to. I meant that there's a github issue template when you report one, and that sticking to it saves this back and forth of questions about your environment and such, because those questions are asked in the issue template, but in any case, not sure if you are running the dev or next branch of `LanguageClient-neovim`, but if you are running the `next` branc

[2021-04-11 04:10] EvanCarroll commented on #956
#1212

[2021-04-11 09:59] martskins commented on #1212
@EvanCarroll See #1216 . As mentioned there, I think this needs a proper test ride, I think it should work, but there may be cases where the async nature of that call causes some issues. If you want to give that a try that'd be great.

[2021-04-14 19:55] iamcodemaker opened #1217 "update the tag stack using gettagstack and settagstack when jumping"
Jumps should update vim's tag stack using `gettagstack()` and `settagstack()` to make going back easier (no idea if this is supported in neovim). You can currently go back using `C-o` but it follows all moves rather than only code navigation related moves. Supporting the tag stack would allow jumping back using `C-t` which works independently from regular moves. Vim's ctag support uses the tag sta

[2021-04-14 21:16] martskins commented on #1217
I think this would be nice to implement. I don't have any immediate plans to implement it though, so anyone who wants to give it a try go ahead, otherwise I'll see if I can find some time to add this eventually.

Having said that, I'm closing this as a duplicate of #517. Feel free to re-open if you don't agree it's a duplicate though.

[2021-04-14 21:16] #1217 closed, assigned to nobody

[2021-04-15 00:26] iamcodemaker commented on #1217
It's totally a duplicate. I'll take a look and see if I can figure out how to make this work.

[2021-04-18 06:16] mqudsi commented on #1169
Just a note that I have never witnessed neovim return to a usable state after an LS hang, even after waiting well past the specified sixty seconds (which imho is already too generous).

[2021-04-24 02:56] zodman commented on #1210
![](http://g.recordit.co/6atVHOSc52.gif)

Damn, it happened to me, I had to close the file and open it again for the highlight to still stay ...

when I see it was the vim-polyglot causing it... I had de-installed and the problem goes away ...

[2021-04-30 20:29] Chaitanyabsprip commented on #83
@DeltaEvo updates?

[2021-04-30 22:17] DeltaEvo commented on #83
I don't use this project anymore and It's been a long time since I last updated the vscode-langservers, sorry :(

[2021-05-01 13:01] Logarithmus commented on #934
@akhilman @ibraheemdev @martskins not sure it's still relevant, but I also had troubles with getting `chainingHints` working. Sadly, there's no much information on the Internet about `LanguageClient-neovim`. Everyone on this planet seems to succumb either to `VSCode` or to `coc.nvim`. I refuse to use `coc.nvim` because I don't want to pollute my computer with JavaScript/node_modules/webdev crap ju

[2021-05-01 13:22] Logarithmus commented on #934
Are there any plans to implement something like this: https://github.com/fannheyward/coc-rust-analyzer/issues/394#issuecomment-742273063
Looks like a reasonable trade-off until https://github.com/neovim/neovim/pull/9496 is finished.

[2021-05-01 14:00] Logarithmus opened #1219 "Why pin Rust toolchain version?"
Hello, I've cloned the repo to make some changes to the code. After opening neovim I saw `rust-analyzer` rebuilding everything, `sccache` reporting cache misses and `rustc 1.50` running, instead of 1.51. I found out that, for some reason, `LanguageClient-neovim` pins it's toolchain to `1.50.0` in https://github.com/autozimu/LanguageClient-neovim/blob/next/rust-toolchain.

What's the reason for doi

[2021-05-03 23:47] ulidtko commented on #1219
Ehh, I think you meant to say `1.46.0` (not `1.50.0`):

https://github.com/autozimu/LanguageClient-neovim/blob/a42594c9c320b1283e9b9058b85a8097d8325fed/rust-toolchain#L1

Which is definitely behind current `stable` on rustup:
[code]

I was working on a fix of an issue, stumbled on exactly this, and wondered the same. Thankfully, it all Just Works and gives no big pains apart from a bit extra weigh

[2021-05-03 23:50] Logarithmus commented on #1219
I was talking about `dev` branch. It uses rust-1.50.0

On Mon, 2021-05-03 at 16:48 -0700, Maxim Ivanov wrote:

[2021-05-03 23:57] ulidtko commented on #1219
So you're suggesting not just a version bump, but unpinning it completely?

[2021-05-04 00:00] Logarithmus commented on #1219
Yes, I don't understand why pin it because as I said already, Rust is
backwards compatible as long as you use the same Rust edition (e. g.
2018).

On Mon, 2021-05-03 at 16:58 -0700, Maxim Ivanov wrote:

[2021-05-04 00:13] ulidtko commented on #1215
Cannot reproduce. `killall nvim` does terminate LC. The latter writes this line in its log (`let g:LanguageClient_loggingFile = "/tmp/vim-lsp-client.log"`) before exiting:

[code]

Which speaks "working as expected" to me; the Vim RPC pipe reader does catch the broken pipe condition and terminates, taking LS with it as well.

@mqudsi are you sure you're observing the issue as described and not con

[2021-05-04 18:08] martskins commented on #1219
I'm not sure as to why it was pinned to begin with, but I think I'm ok with unpinning it as well, it would make more sense if we were using nightly, but given we use stable I think it should be fine for us to unpin. If any of you want to open a PR, happy to merge, otherwise I'll do that at some point this week.

[2021-05-04 18:11] martskins commented on #934
@Logarithmus that is actually what #1108 implements, unless I misunderstood what you meant. I think the issue you are having though is due to using an incorrect `settings.json`. Try changing `rust-analyzer` in the root of your `settings.json` to `initializationOptions`, if that doesn't work please open an issue and I can help you solve that.

[2021-05-07 18:18] Logarithmus commented on #934
I meant `TypeHint`s & `ParameterHint`s. Currently `LanguageClient-neovim` only supports displaying `ChainingHint`s.
In comparison, `coc-rust-analyzer` implements both `ChainingHint`s & `TypeHint`s: https://github.com/fannheyward/coc-rust-analyzer/issues/394#issuecomment-742273063. `TypeHint`s which are located on the same line are joined into single hint and then displayed at the end of line.

[2021-05-07 18:33] martskins commented on #934
Oh I see, I guess it would be a decent addition. I for one find it too distracting, but I guess it's a nice middleground for people that want that.

[2021-05-12 19:26] ulidtko commented on #1219
Hasn't autoclosed by the merge for some reason. Close manually?..

[2021-05-12 19:29] Logarithmus commented on #1219
Autoclosing works for the default branch only. The default branch for this repo is `next`, but my commit has been pushed into `dev`.

[2021-05-12 19:30] #1219 closed, assigned to nobody

[2021-05-13 09:22] d0u9 opened #1222 "references in Denite only contains filename and line number."
## Describe the bug

Running `:Denite references` in nvim's command line only shows file and line number but no other information about line contents.

For example, running `:call LanguageClient#textDocument_references` can correctly obtains references as below:

[code]

However, by running `:Denite references`, only file name are displayed:

[code]

## Environment

- neovim/vim version (`nvim --v

[2021-05-15 00:35] habibalamin opened #1223 "LanguageClient-neovim treats errors differently depending on the language server"
## Versions and Environment

This has been a problem for ages, I was even still on `w0rp/ale`. Before this problem, I had other problems, with the language server being immature, and I've been waiting for this problem to be fixed as well for a while, thinking the language server is still not quite ready at `1.0`. I upgraded versions before reporting this to see if it solved my problems, but no. He

[2021-05-15 13:13] Kannen opened #1224 "Extensions for Rust and Go not documented"
- Did you upgrade to latest plugin version?
- Did you upgrade to/compile latest binary? Run shell command
  `bin/languageclient --version` to get its version number.
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`?
- Did you check [troubleshooting]?

[troubleshooting]: https://github.com/autozimu/LanguageClient-neovim/blob/next/INSTALL.md#troubleshooting

## Describe th

[2021-05-15 14:56] Kannen opened #1225 "rust_analyzer error: unknown request:..."
- Did you upgrade to latest plugin version?
- Did you upgrade to/compile latest binary? Run shell command
  `bin/languageclient --version` to get its version number.
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`?
- Did you check [troubleshooting]?

[troubleshooting]: https://github.com/autozimu/LanguageClient-neovim/blob/next/INSTALL.md#troubleshooting

## Describe th

[2021-05-15 18:01] martskins commented on #1225
Yes, this has been an issue ever since we added support for those code lenses. I'm not sure how we would go about implementing this to be honest. The `Run` lens itself is a little hacky. I think those were thought mainly for VSCode, and we just do what we can with them. Having said that, I would be happy to see this implemented.

[2021-05-15 18:07] martskins commented on #1224
Yeah, the thing with these is that they are very server specific, so documenting them is tricky. I guess a little more info on codelenses could be included in the documentation though.
I guess the expectation was that the user would know that those are codelenses, and that there is a function to use them (that one is documented, although the documentation for it is probably a bit vague), and all c

[2021-05-21 06:08] d0u9 commented on #1222
So, any update?

[2021-05-22 17:31] TysonAndre opened #1226 "`Server not configured for filetype php` seen when calling `LanguageClient_registerServerCommands`"
- Did you upgrade to latest plugin version? Yes - this is an issue on both next and dev
- Did you upgrade to/compile latest binary? Run shell command
  `bin/languageclient --version` to get its version number. 0.1.161
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`? N/A
- Did you check [troubleshooting]? yes

[troubleshooting]: https://github.com/autozimu/LanguageClient

[2021-05-22 21:29] martskins commented on #1226
Ah good catch! I think this should be easy to solve by just adding a value for the missing registered server on the call to `LanguageClient#registerServerCommands` if there is nothing else configured. Will try and think if there's a simplest solution to this in the next few days but I think that will most likely be the solution.

[2021-05-27 22:28] martskins commented on #1222
Sorry for the delayed response. I'm not able to test this right now, but if you are feeling adventurous you could try changing this line:
https://github.com/autozimu/LanguageClient-neovim/blob/a42594c9c320b1283e9b9058b85a8097d8325fed/rplugin/python3/denite/source/references.py#L69
to this: `text = self.vim.funcs.getbufline(filepath, line)`

Let me know if it helped if you do try it and we can arra

[2021-05-28 03:39] d0u9 commented on #1222
Hello martskins, I patched that line and nvim failed to response anything after invoking `Denite references`. It seems that nvim stacks in busy loop and CPU usage of nvim surges to 100%.

[2021-06-14 13:36] mdtrooper opened #1227 "Psalm (PHP lsp) did not run"
- Did you upgrade to latest plugin version?

Yes

- Did you upgrade to/compile latest binary?
[code]

- (Neovim users only) Did you check output of `:checkhealth LanguageClient`?

[code]

- Did you check [troubleshooting]?

[troubleshooting]: https://github.com/autozimu/LanguageClient-neovim/blob/next/INSTALL.md#troubleshooting

## Describe the bug

I installed https://github.com/vimeo/psalm and I

[2021-07-08 14:54] moinessim commented on #1210
Hi there, same bug here but with dotnet + ionide-vim, fsharp project.

No need to restart vim, though.
Just splitting the buffer refreshes the highlight...

[2021-07-27 10:28] OJFord commented on #1200
@ANtlord Is it a symlink purely because you want it to be elsewhere? I have `$CARGO_HOME="$XDG_CONFIG_HOME/cargo"` for that reason, and don't have this problem.

(I'm not saying LanguageClient shouldn't behave correctly if it is a symlink, just that that might be a quick fix for you.)

[2021-07-27 11:17] ANtlord commented on #1200
@OJFord that's a very good hint. I completely forgot about it. I've managed the problem with binding mount which works fine unless I need to find something recursilvely. Anyway thanks a lot!

[2021-07-29 19:30] martinvahi opened #1231 ""make release" fails on Windows Subsystem for Linux (WSL)"
Cloned on 2021_07_29.

# Vim Version

    tsw1@DESKTOP-H12EA8D:~/tmp_$ uname -a
    Linux DESKTOP-H12EA8D 4.4.0-19041-Microsoft #488-Microsoft Mon Sep 01 13:43:00 PST 2020 x86_64 GNU/Linux
    tsw1@DESKTOP-H12EA8D:~/tmp_$ vim --version
    VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Jun 21 2019 04:10:35)
    Included patches: 1-197, 322, 377-378, 550, 649, 651, 703, 706-707
    Extra patches: 8.1

[2021-08-12 22:25] seqizz commented on #1215
Just my 2 bits: You can detect if the parent has been changed or not (in case of kill -9 neovim, LC will have PID 1 as its parent). Related link: https://stackoverflow.com/a/12193625

[2021-08-13 08:45] OJFord opened #1232 "Definition jump moves to line number in current file if buffer isn't saved"
## Describe the bug

If the current buffer isn't saved, and not open in another split, `LanguageClient#textDocument_definition()` is unable to load the file with the definition - which I suppose is desirable - but still then jumps to the definition line number, in the current buffer.

(This also affects `LanguageClient#textDocument_references()`.)

## Environment

- neovim/vim version (`nvim --ver

[2021-08-21 15:23] EvanCarroll opened #1233 "Bug on reformatting code, fails to add a trailing command if the last element contains a comma."
This code seems to bug out when reformatting with **EITHER** rls or rust-analyzer, for this reason I think it's a problem with the communication protocol and the way vim reflows it,

This will add a `,` before the `,D` on **EACH** save.

[code]

This will remove the terminating `"` quotes..

[code]

-----

tested again

* rust-analyzer 5664a2b 2021-08-20 dev
* rls 1.41.0 (517e9d6 2021-06-07)

[2021-09-27 13:03] teto commented on #778
now using native-lsp

[2021-09-27 13:03] #778 closed, assigned to nobody

[2021-10-02 15:20] lantw44 opened #1235 "workspace/configuration doesn't work for servers which don't send serverInfo"
## Describe the bug

If the server doesn't provide `serverInfo` in `InitializeResult`, the plugin will send an empty array instead of the `initializationOptions` set by the user when the server requests `workspace/configuration`.

## Environment

- Vim 8.2.3450
- Plugin version 1cb8bb5 (current dev branch)
- Plugin's binary version 0.1.161
- Relevant vimrc settings:
[code]
- [YAML language server]

[2021-10-19 17:16] limdingwen opened #1236 "Precompiled binary is not available for M1 Macs (Darwin arm64)"
## Describe the bug

`sh install.sh` does not work on M1 as no pre-built binaries exist for Darwin arm64.

## Environment

- neovim/vim version (`nvim --version` or `vim --version`): NVIM v0.5.1
- This plugin version (`git rev-parse --short HEAD`): a42594c
- This plugin's binary version (`bin/languageclient --version`): N/A
- Minimal vimrc content (A minimal vimrc is the smallest vimrc that could

[2021-10-19 17:21] limdingwen commented on #1236
Update: I managed to run `sh build.sh` by building locally, after installing cargo (`brew install rust`). Still, a official binary would be nice :)

[code]

Update 2: Works perfectly! I would like to suggest making `cargo is not available. Abort.` instruct the user to install Rust if they want to build locally. Thank you for such a good plugin. ^^

[2021-10-22 06:59] nvlbg commented on #517
I slightly modified the script by @yen3 to make it asynchronous:

[code]

[2021-10-30 08:59] ikouchiha47 opened #1238 "With gopls and languageclient getting error mesages along with popup"
Error detected while processing function <lambda>48[1]..DebounceHandleCompleteChanged:
line    7:
E474: Unidentified byte: AddMatcher func(fileType types.Type, matcher matchers.Matcher) matchers.TypeMatcher
Error detected while processing function <lambda>48[1]..DebounceHandleCompleteChanged:
line    7:
E474: Failed to parse AddMatcher func(fileType types.Type, matcher matchers.Matcher) matchers.T

[2021-10-30 09:05] #1238 closed, assigned to nobody

[2021-10-30 09:05] ikouchiha47 commented on #1238
Upgrade fixed it

[2021-11-17 08:09] zzh8829 commented on #1236
can confirm installing cargo fixes the build, would be nice to get an arm build

[2021-11-26 09:34] iaamhg commented on #1191
in my case it is the following var set, hope there were more obvious hint of the cause~
[code]

[2021-12-12 09:46] stone8419 commented on #668
how can i do this?
# ./languageclient
Segmentation fault

[2021-12-15 07:45] meshula commented on #1236
to get the build to succeed I had to modify the rust-toolchain file to 1.57.0, as the 1.46.0 doesn't seem to have an arm64 build available?

[2021-12-30 15:01] davidhalter commented on #1210
I'm having the same issue with multiple different language servers. I'm still very unsure what it's caused by (could also be a VIM bug).

You can remove these artifacts by running `:call clearmatches()` to continue working in the same buffer.

[2022-01-17 12:33] OJFord opened #1239 "`Error detected while processing - not an open channel` if server dies"
- Did you upgrade to latest plugin version? Yes
- Did you upgrade to/compile latest binary? Run shell command
  `bin/languageclient --version` to get its version number. `languageclient 0.1.161`
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`? N/A
- Did you check [troubleshooting]? Yes

[troubleshooting]: https://github.com/autozimu/LanguageClient-neovim/blob/next/INSTA

[2022-02-22 02:32] teasp00n commented on #1232
Try adding `set hidden` to your vim config.

Setting that allows vim to hide buffers not currently attached to a window instead of unloading them (unloading them is destructive so it'll ask you to confirm, I think you are running up against this in a weird way when the plugin tries to swap buffer).

[2022-02-23 10:38] OJFord commented on #1232
I think I'd rather keep the behaviour of 'where are you going, you haven't saved' though; it just shouldn't jump to line as though the buffer's changed. (If it's large and the line number is very different, then it's not immediately apparent that it wasn't successful, it's just confusingly not what you searched for.)

[2022-03-17 00:23] moncheeta opened #1242 "Add the ability to add custom formatters"
Some of my language serves don't support formatting or I want to override some. So, I would like there to be an option to supply my own commands based on file types. Thank you!

[2022-03-18 05:50] don-smith commented on #1236
There is no longer a `build.sh` file. So after updating the `rust-toolchain` file (mentioned above) and installing Rust with `brew install rust` (also from above), from your `~/.local/share/nvim/plugged/LanguageClient-neovim` folder, use `cargo build --release` to build the plugin. Then run `mv target/release/languageclient bin` to move the binary so neovim can find it.

[2022-03-19 17:42] #1242 closed, assigned to nobody

[2022-06-27 18:06] zlindenbaum opened #1252 "Diagnostics echoed and cut-off in gvim 8.2"
- Did you upgrade to latest plugin version? Yep
- Did you upgrade to/compile latest binary? Run shell command
  `bin/languageclient --version` to get its version number. Yep
- (Neovim users only) Did you check output of `:checkhealth LanguageClient`? N/A
- Did you check [troubleshooting]? Yep

[troubleshooting]: https://github.com/autozimu/LanguageClient-neovim/blob/next/INSTALL.md#troubleshooting

[2022-07-06 21:01] j127 commented on #1236
In case it saves anyone a few minutes, don-smith's answer above worked for me, but the directory on my computer was `~/.vim/bundle/LanguageClient-neovim/`.

1. Make sure Rust is installed.
1. Edit the `rust-toolchain` file to give it a more recent Rust version. I used 1.62.0.
1. Run `cargo build --release`
1. Run `mv target/release/languageclient bin`

[2022-07-15 10:12] carbolymer commented on #1085
This markdown rendering never worked for me. I'm on
[code]
Do I need to configure something extra? I've tried installing `plasticboy/vim-markdown` additionally, but no difference.

[2022-07-18 14:24] rottencandy commented on #1085
Try changing vim-markdown options to trigger formatting
[code]
You might also want to set `conceallevel` if you haven't already https://github.com/preservim/vim-markdown#syntax-concealing

[2022-07-19 11:40] carbolymer commented on #1085
@rottencandy awesome, it works in hover now, thanks. I think this should be in some FAQ of the languageclient. But concealing doesn't seem to be working in autocompletion popup from deoplete (at least for urls).

[2022-08-08 05:26] jeffsaremi opened #1254 "Equivalent setup steps for init.lua vs init.vim"
What is the equivalent of this if I'm using `init.lua` file:

[code]
   thanks

[2022-09-08 03:24] weipeng1999 opened #1255 "Add configure option to tweak the location of the "preview window for hover"."
## Is your feature request related to a problem? Please describe.

Now the "preview window for hover" is shown in default location (top) and it was easily cause text moving. I hope we can add some configuration to make it shown in right or bottom.

## Describe the solution you'd like

May be we can add some option to tweak the "command modifiers" for previewed window. Such as:
[code]

[2022-09-18 16:40] arafatamim commented on #1254
[code]
Any reason you're using this over the builtin LSP client btw?

[2022-11-11 16:02] zodman commented on #473
yeap  I want to use :
typescript-language-server + tailwindcss-language-server + eslint-language-server